{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>Delete {{type_desc}}</h1>

<p>Delete this {{type_desc}}?</p>

<pre>
{{statement.statement}}
</pre>

<form action="" method="post">{% csrf_token %}
  <button class="btn btn-primary" type="submit">{% trans "Delete" %}</button>
  <a href="{{requirement.get_absolute_url}}">Cancel</a>
</form>

{% endblock %}
