{% extends "nm2-base.html" %}

{% block nav_left_items %}{# Top links #}
{{block.super}}
<li class="nav-item"><a class="nav-link" href="https://wiki.debian.org/qa.debian.org/MIATeam">MIA Team</a></li>
{% endblock %}
